.App {
  text-align: center;
  /* width: 100%; */
  /* background-color: rgba(0,0,0,.06); */
  /* background-color: #f7f7f7; */
  
  /* height: 100vh; */
}

.app-header{
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  /* background-color: white; */
  background-color: #fdfdc4;
  width: 100%;
  height: 80px;
  padding: 20px;
  position: fixed;
  z-index: 1;
}
.Layout{
  margin: 0;
}

.input-holder{
  position: relative;
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.input-holder-table-icon{
  background-color: #b7d7e8!important;
}

.input-holder-bell-icon{
  background-color: #ececec!important;
}
.input-holder-country-icon{
  background-color: #ffd6d6!important;
  margin-right: 10px;
}
.IconsHiddenBehindSearchbox{
  display: flex;
  margin-right: 200px;
  opacity: 0.7;
}
.Searchbox{
  border-radius: 20px;
  border: blue;
  position: relative;
  width: 250px;
  height: 35px;
}
.SearchbarButton{
  background: rgba(0,0,0,.06);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.Webiste-logo{
  margin-right: 170px;
}
.LeftHamburgerIcon{
  margin-right: 30px;
}

.HeaderRightIcons{
  display: flex;
  position: fixed;
  right: 40px;
}
.RightHamburgerIcon{
  margin: 5px 0px 0px 20px;
}
.UserProfileIcon{
  margin: 7px 0px 0px 20px;
}
.vl {
  border-left: 2px solid #ececec;
  height: 40px;
  margin-left: 20px;
}
.Sidebar{
   color: black;
  width: 290px;
  /* padding-top: 10px; */
  z-index: -2;
  position: absolute;
  right: 900px;
  top:60px;
  /* background-color: white;
  border: 2px solid white; */
  background-color: #ffe9e3;
  border:2px solid #ffe9e3;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}
.SidebarIcons{
  width:100px;
  right: 1100px;
}
.LeftSidebarSubLinks:hover{
  background-color: #d5eeff;
}
.SidebarLinks{
  display: flex;
  color: black;
  font-size: 15px;
  margin-top: 5px;
}
/* .SidebarLinks:hover{
  background-color: #d5eeff;
} */
.LeftSidebarSubheading-down-arrow-icon{
  position: absolute;
  left:250px;
  text-decoration: none;
  
}
.app-sidebar__heading {
  font-size: 20px;
  font-weight: bolder;
  color: #3f6ad8;
}

.RouterPath {
  padding: 20px 30px 0;
  /* background-color: rgba(0,0,0,.06); */
  width: 100%;
  height: 100vh;
  /* z-index: -1; */
}
/* .SidebarComponents{
  padding-top: 100px;
  text-align: center;
  margin-left: 500px;
} */
.CloseLeftHamburgerBox{
  position: absolute;
  top:42px;
  left: 50px;
  border-radius: 50%;
}
.FormLayout{
  text-align: center;
  margin: 50px 150px 50px 150px;
}
.UserNameInfo{
  opacity: 0.7;
}
.RightSidebar{
  /* background-color: #ececec; */
  background-color: white;
  z-index: 2;
  position: absolute;
  bottom:-670px;
  left: 140px;
  width:530px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}
.CloseRightHamburgerBox{
  position: absolute;
  top:7px;
  left: 400px;
  z-index: 4;
  border-radius: 50%;
  border: 2px solid #ececec;
}
hr.style1{
	border-top: 1px solid #8c8b8b;
  width: 250px;
  /* position: absolute; */
  /* right: -180px; */
}
.RightSidebarFirstSubHeading{
  font-weight: bolder;
  position: relative;
  top:10px;
}
.RightSidebarSecondSubHeading{
  margin: 20px 0px 0px 30px;
}
.checkbox-label{
  position: relative;
  right: 140px;
}
.ImageCheckbox1{
  position: absolute;
}

/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle button */

.sliderImg{
  width:500px;
  height: 200px;
}
.sliderNextControl{
  position: absolute; 
  left:425px !important;
}
.SliderIndicators{
  position: absolute;
  left:240px!important;
}
.SliderSlide{
  width:500px!important;

}
.SliderContainer{
  width:500px!important;
}
.textSpeechBox{
  display:flex;
  justify-content: center;
  flex-direction: row;
}
.microphone{
  position: relative;
  top:20px;
  left:5px
}
hr.solid {
  border-top: 1px solid #bbb;
  opacity: 0.1;
}
.formHeadings{
  text-align: left;
  font-size: 25px;
  color:brown; 
  font-weight: bolder;
}
.formSubHeadingContainer{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  justify-content: left;
}
.formSubHeading{
  font-size: 20px;
  color:#2196F3;
  font-weight: bolder;
}
.formInputFieldsData{
  padding: 10px;
}